/*共通*/
body{
    font-family: "sans-serif","arial,Century","Times New Roman";
    width: calc(100vw - (100vw - 100%)); /*レスポンシブ：横幅*/
    height: 90vh;
    overflow-x:hidden;
    font-size:calc(100vw / (1920 / 22)); /*レスポンシブ：横幅1920pxに対して16pxのフォントサイズ*/
    color: #465458;
    background: #f7fafa url("../img/background-img.jpg"); /*花の模様の背景画像*/
}

header{
    height: calc(100vw / (1920 / 100));
    background-color: rgba(255,255,255,0.3);
}

form{
    padding-top: calc(100vw / (1920 / 100));
    text-align: center;
}

footer{
    height: calc(100vw / (1920 / 50));
    font-size: calc(100vw / (1920 / 15));
}

ul{
    list-style: none;
}
/*クリア*/
.clear{
    clear: both;
}

/*改行*/
.br::before {
    content: "\A" ;
    white-space: pre ;
}

/*以下から、クラスごとのｃｓｓ*/
/*黒バードのlogo画像*/
.header-logo-button{
    padding-left: calc(100vw / (1920 / 250));
    padding-top: calc(100vw / (1920 / 20));
    padding-bottom: calc(100vw / (1920 / 20));
    display: inline-block;
    width: calc(100vw / (1920 / 100));
    height: calc(100vw / (1920 / 100));
}

/*ヘッダーの位置やサイズの調整、currentとhoverでカーソルあたるとcssアニメ*/
nav{
    display: inline-block;
    font-size: calc(100vw / (1920 / 23));
}

nav ul li{
    list-style: none;
    float: left;
    padding: 20px 30px 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #465458;
}
nav ul li.current a{
    color: #465458;
    border-bottom: #465458 2px solid;
}
nav ul li a:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}

/*透明で黒いカバー*/
.home-black-cover{
    width:calc(100vw/(1920/1720));
    height:90vh;
    margin: 0 calc(100vw/(1920/100));
    background: rgba(43,57,61,0.2);
}

/*申し込みform*/
.form-title{
text-align: center;
    padding-top: calc(100vw/(1920/100));
}

.form-title p{
    padding-top: calc(100vw/(1920/20));
}

.form-name ,.form-address ,.form-message{
    padding-top: calc(100vw/(1920/30));
}

.form-name label ,.form-address label ,.form-message label{
    color: #2e3b40;
    display: block;
    padding-bottom: calc(100vw/(1920/3));
}


.form-name label{
    padding-right: calc(100vw/(1920/360));
}

.form-address label{
    padding-right: calc(100vw/(1920/340));
}

.form-message label{
    padding-right: calc(100vw/(1920/335));
}

.form-name input ,.form-address input ,.form-message textarea{
    padding-left: 2px;
    color: #2e3b40;
    width: 400px;
    border: #b7bcbd 2px solid;
    border-radius: 5px;
}

.form-name input ,.form-address input{
    height: 30px;
}

.form-message textarea{
    height: 100px;
}


/*申し込みformのボタン*/
button{
    margin-top: 30px;
    margin-right: 300px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #a1538e;
    border: none;
    border-radius: 5px;
}

/*cssアニメーション*/
.btn{
    text-decoration: none;
    color: #465458;
    border-radius: 5px;
}
.btn button:hover{
    color: #ffffff;
    cursor: pointer;
    background-color: #7d416e;
}


/*フッター*/
.footer-text-box{
    padding-left: calc(100vw / (1920 / 220));
    padding-top: calc(100vw / (1920 / 20));
}

.footer-text-box span{
    padding-left: calc(100vw / (1920 / 30));
    font-size: calc(100vw / (1920 / 13));
}

.footer-text-box a{
    text-decoration: none;
    color: #465458;
}

.footer-text-box a:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}