/*共通*/
html{
    height: 100%;
}

body{
    font-family: "sans-serif","arial,Century","Times New Roman";
    width: 100%; /*レスポンシブ：横幅*/
    height: 100%;
    overflow-x:hidden;
    font-size:30px;
    color: #465458;
    background: #f7fafa url("../img/background-img.jpg"); /*花の模様の背景画像*/
}

header{
    height: 10%;
    background-color: rgba(255,255,255,0.3);
}

footer{
    height: 5%;
    font-size: 20px;
}

ul{
    list-style: none;
}

/*クリア*/
.clear{
    clear: both;
}

/*改行*/
.br::before {
    content: "\A" ;
    white-space: pre ;
}

/*以下から、クラスごとのｃｓｓ*/
/*home-wrapper*/
.home-wrapper{
    height: 85%;
}

/*黒バードのlogo画像*/
.header-logo-button{
    padding-left: 10%;
    display: inline-block;
    width: 10%;
    height: 100%;
    float: left;
}

.bird-logo{
    background-image: url("../img/bird-logo.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    background-position: center;
}

/*blk*/
.blk{
    height: 40%;
}

/*ヘッダーの位置やサイズの調整、currentとhoverでカーソルあたるとcssアニメ*/
nav{
    display: inline-block;
    font-size: 23px;
}

nav ul li{
    list-style: none;
    float: left;
    padding: 0px 30px 0px 20px;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color: #465458;
    font-size: 25px;
}
nav ul li.current a{
    color: #465458;
    border-bottom: #465458 2px solid;
}
nav ul li a:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}

/*透明で黒いカバー*/
.home-black-cover{
    width:90%;
    height:100%;
    margin:0 5%;
    background: rgba(43,57,61,0.2);
}

/*名前と顔写真をまとめたボックスで位置調整*/
.home-conts-name-face{
    padding-left: 15%;
    padding-top: 7%;
}

.home-conts-name, .home-conts-face{
    padding-right: 1%;
    padding-bottom: 3%;
}

.home-conts-name{
    width: 20%;
    height: 20%;
}

.home-conts-face{
    width: 7%;
}

/*サイトの紹介文*/
.home-site-introduction{
    padding-left: 16%;
    line-height: normal;
}

.site-info-text{
    font-size: 27px;
}

/*Twitter*/
.twitter-font-color{
    color: #a1538e;
    text-decoration: none;
}

.twitter-font-color:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}

/*背景に鳥の画像の配置*/
.background-bird-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.background-bird-img img{
    width: calc(100vw/(1920/1000));
    height: calc(100vw/(1920/800));
}

/*フッター*/
.bl{
    height: 30%;
}

.footer-text-box{
    padding-left: 10%;
}

.footer-text-box span{
    padding-left: 2%;
    font-size: 18px;
}

.footer-text-box a{
    text-decoration: none;
    color: #465458;
}

.footer-text-box a:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}