/*名前と顔写真をまとめたボックスで位置調整*/
.home-conts-name-face{
    padding-left: 15%;
    padding-top: 7%;
}

.home-conts-name, .home-conts-face{
    padding-right: 1%;
    padding-bottom: 3%;
}

.home-conts-name{
    width: 20%;
    height: 20%;
}

.home-conts-face{
    width: 7%;
}

/*サイトの紹介文*/
.home-site-introduction{
    padding-left: 16%;
    line-height: normal;
}

.site-info-text{
    font-size: 27px;
    z-index: 30;
    text-shadow: 1px 1px 3px white;
    position: absolute;
}

/*Twitter*/
.twitter-font-color{
    color: #a1538e;
    text-decoration: none;
}

.twitter-font-color:hover{
    color: #a1538e;
    border-bottom: #a1538e 2px solid;
    cursor: pointer;
}

/*背景に鳥の画像の配置*/
.background-bird-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    z-index: 10;
}

