/*スマートフォンのレスポンシブ対応*/
@media screen and (max-width: 500px) {
    /* 500pxまでの幅の場合に適応される */
    .home-conts-name{
        width: calc(100vw/(500/200));
        height: calc(100vw/(500/100));
    }

    .home-conts-face{
        width: calc(100vw/(500/80));
        height: calc(100vw/(500/80));
    }

    .site-info-text {
        font-size: calc(100vw/(500/20));
    }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　for iPad 　*/
    .home-conts-name{
        width: calc(100vw/(1024/300));
        height: calc(100vw/(1024/100));
    }

    .home-conts-face{
        width: calc(100vw/(1024/100));
        height: calc(100vw/(1024/100));
    }

    .site-info-text{
        font-size: calc(100vw/(1024/22));
    }
}
@media screen and (min-width:1024px) {
    /*　for PC　*/
    .home-conts-name{
        width: calc(100vw/(1920/300));
        height: calc(100vw/(1920/100));
    }

    .home-conts-face{
        width: calc(100vw/(1920/100));
        height: calc(100vw/(1920/100));
    }

    .site-info-text{
        font-size: calc(100vw/(1920/25));
    }
}