/*タブレット　縦向き*/
@media screen and (min-aspect-ratio: 5/10) and (max-aspect-ratio: 8/10){
    body{
        background-size: cover;
    }

    .header-logo-button{
        padding-left: 5%;
    }

    nav ul li {
        padding: 0px 5px 10px 25px;
    }
    nav ul li a{
        font-size: calc(100vw/(1920/80)); /*80px*/
    }

    .home-wrapper{
        overflow: hidden;
        width: 100%;
    }

    .home-black-cover {
        width: 100%;
        margin: 0;
        z-index: 2;
    }

    .home-conts-name-face {
        padding-left: 7%;
        padding-top: 10%;
    }

    .home-conts-name {
        width: 40%;
    }

    .home-conts-face {
        width: 15%;
    }

    .site-info-text {
        padding-top: 1%;
        font-size: calc(100vw/(1920/75));
        z-index: 10000;
        position: absolute;
        text-shadow: 1px 1px 3px white;
    }

    .home-site-introduction {
        padding-left: 13%;
    }

    .background-bird-img{
        z-index: 1;
        position: absolute;
        width: 80%;
        height: initial;
        bottom: 0;
        right: -20%;
    }

    .f-blank {
        height: 10%;
    }

    .footer-text-box {
        padding-left: 5%;
    }

    .footer-text-box span {
        font-size: 12px;
    }
}