/*all*/
.main-wrapper{
    height: initial;
    background-image: url("../img/background-img2.jpg");
}

.main-black-cover{
    height: initial;
}

.w-blank{
    height: 3vh;
    display: inline-block;
}
.works-main-conts{
    padding-bottom: 5%;
}

.works-main-right{
    float: left;
}

.works-main-left{
    width: 45%;
    float: left;
    padding-left: 5%;
    position: relative;
}

.works-main-left span{
    position: absolute;
    right: 0;
}

.works-main-left img{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.works-main-left >span a{
    font-size: calc(100vw/(1920/27));;
}

th{
    text-align: left;
}

/*works-title*/
.works-title{
    padding-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
}

.works-title img {
    width: 15%;
    height: initial;
}

/*------------------------------------------------------------ワークスのメイン*/
/*Allegro*/
table{
    width: 90%;
}

.works-allegro-conts{
    width: 45%;
    padding-left: 5%;
}

.works-allegro-conts h1{
    font-size: calc(100vw/(1920/40));
    width: 50%;
}

.works-allegro-conts tr{
    border-bottom: solid 1px #465458;
    width: 100%;
}

.works-allegro-conts th{
    font-size: calc(100vw/(1920/25));
    width: 25%;
}

.works-allegro-conts td{
    font-size: calc(100vw/(1920/22));
    padding-left: 2vh;
    padding-top: 2vh;
    width: 75%;
}

.works-allegro-img{
    width: 40%;
}

/*リンク*/
.works-allegro-conts a{
    text-decoration: none;
    color: #a1538e;
}

.works-allegro-conts a:hover {
    color: #77155f;
    border-bottom: none;
    cursor: pointer;
}

/*ボタン*/
.btn-sticky {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #a1538e;
    color: #ffffff;/*文字色*/
    font-size: calc(100vw/(1920/15));
    font-weight: bold;
}
.btn-sticky:hover {
    cursor: pointer;
    background: #77155f;
}

.dis-no-top{
    display: none;
}