/*all*/
.main-wrapper{
    height: initial;
    background-image: url("../img/background-img2.jpg");
}

.main-black-cover{
    height: initial;
}

.works-main-conts{
    padding-bottom: 5%;
}

.works-main-right{
    float: left;
}

.works-main-left{
    width: 45%;
    float: left;
    padding-left: 5%;
    position: relative;
}

.works-main-left span{
    position: absolute;
    right: 0;
}

.works-main-left img{
    width: 100%;
}

.works-main-left >span a{
    font-size: calc(100vw/(1920/27));
}

th{
    text-align: left;
}

a{
    text-decoration: none;
    color: #a1538e;
}

a:hover{
    color: #77155f;
    border-bottom: none;
}

/*works-title*/
.works-title{
    padding-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
}

.works-title img {
    width: 15%;
    height: initial;
}

.line-spacing-works{
    padding-top: 1vh;
}

.w-blank{
    height: 3vh;
    display: inline-block;
}

.space-p{
    line-height: calc(100vw/(1920/30));
    font-size: calc(100vw/(1920/16));
}

.works-main-page-fix{
    display: none;
}

/*------------------------------------------------------------ワークスのメイン*/
/*Allegro*/
table{
    width: 90%;
}

.works-allegro-conts{
    width: 45%;
    padding-left: 5%;
}

.works-allegro-conts h1{
    font-size: calc(100vw/(1920/40));
    width: 50%;
}

.works-allegro-conts tr{
    border-bottom: solid 1px #465458;
    width: 100%;
}

.works-allegro-conts th{
    font-size: calc(100vw/(1920/25));
    width: 25%;
}

.works-allegro-conts td{
    font-size: calc(100vw/(1920/20));
    padding-left: 2vh;
    padding-top: 2vh;
    width: 75%;
}

.works-allegro-img{
    width: 40%;
}

/*JS*/
.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.allegro-image-container{
    width:2000px;
}

.allegro-image-container img{
    float:left;
    width:40vw;
}

.allegro-overflow-hidden{
    width:100%;
    height:calc(40vw/1.976);
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*ボタン*/
.btn-sticky {
    display: inline-block;
    padding: 1vh 2vh;
    background: #a1538e;
    color: #ffffff;/*文字色*/
    font-size: calc(100vw/(1920/15));
    font-weight: bold;
}
.btn-sticky:hover {
    background: #77155f;
    color: #ffffff;/*文字色*/
}

/*↓空き時間に良い名前を考える　ーーー候補、①スライダーナビゲーション②イメージチェンジスマホ*/
.dis-no-top{
    display: none;
}



/*タブレット縦向き　0.5～0.8までのアスペクト比*/
@media screen and (max-aspect-ratio: 8/10){
    .works-title{
        padding-top: 4vh;
        padding-bottom: 5vh;
    }

    .works-title img{
        width: 25%;
    }

    .works-main-right{
        float: none;
    }

    .works-main-left{
        width: 90%;
        float: none;
    }

    .btn-sticky{
        font-size: calc(100vw/(1920/60));
    }

    .works-allegro-conts{
        width: initial;
    }

    .works-allegro-conts h1{
        font-size: calc(100vw/(1920/85));
    }

    .w-blank{
        height: 1vh;
    }

    .works-allegro-conts th{
        font-size: calc(100vw/(1920/62));
    }

    .works-allegro-conts a{
        font-size: calc(100vw/(1920/60));
    }

    .works-allegro-conts td{
        font-size: calc(100vw/(1920/60));
    }

    .works-main-left span{
        bottom: 0;
    }

    .works-main-left >span a{
        font-size: calc(100vw/(1920/100));
    }

    .dis-no-allow{
        display: none;
    }

    .works-allegro-conts-dis-no{
        display: none;
    }

    .works-main-conts{
        padding-bottom: 10%;
    }

    .works-main-page-fix{
        display: block;
        padding-bottom: 1vh;
    }

    .works-main-page-fix a{
        padding-right: 4vh;
        font-size: calc(100vw/(1920/90));
    }

}